.SideBarComponent {
    background-color: #cccccc;
    color: black;
    font: inherit;
    border: 1px solid #d9d9d9;
    box-shadow: -5px 5px 4px #999999;
    padding: 8px;
    width: 20%;
    margin: 16px auto;
    position: absolute;
    left: 30px;
}
       
@media screen and (max-width: 1250px) {
    .SideBarComponent{
        display: none;
    }
    
}
    